<!-- order.html -->
{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h1 class="text-center my-4">购物车</h1>
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">商品</th>
          <th scope="col">数量</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
    <form id="orderForm" method="Post" action="{% url 'order:order' %}">
        {% csrf_token %}
        <tbody>
        {% for item in ShoppingCartInfo %}
          <tr>
            <td>{{ item.goods.goods_name }}</td>
            <td>
                <div class="input-group mb-3">
                    <input id="goods_{{ item.id }}" type="number" value="{{ item.count }}" min="1" class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" onclick="location.href='{% url 'shoppingCart:add' item.goods_id 1 %}'">增加</button>
                        <button class="btn btn-outline-secondary" type="button" onclick="if(document.getElementById('count{{ item.id }}').value > 1) location.href='{% url 'shoppingCart:sub' item.goods_id 1 %}'">减少</button>
                    </div>
                </div>
            </td>
            <td>
              <button class="btn btn-danger" onclick="location.href='{% url 'shoppingCart:delete' item.id %}'">删除</button>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="text-center">购物车为空</td>
          </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="text-center">
                <button class="btn btn-danger" onclick="location.href='{% url 'shoppingCart:clear' %}'">清除购物车</button>
                <button class="btn btn-success" onclick="document.getElementById('orderForm').submit();">全部购买</button>
            </td>
        </tr>
      </tbody>
    </form>
    </table>
  </div>
{% endblock %}
