{% extends 'base.html' %}

{% load static %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h2 class="text-center">注册</h2>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">注册</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
